<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="chat">
    <div>
        <ul>
            {{#each postlist}}
                <div>{{number}}</div>
                <a href="posts">제목 : {{title}}</a>
                <span>글쓴이 : {{username}}</span>
                <span>생성시간 : {{createdAt}}</span>
                <div>내용 : {{contents}}</div>
                <li>
                    {{#each commentlist}}
                        <span style="color:darkgreen">[{{username}}]</span>
                        <span style="color:darkslategray">{{comments}}</span>
                        <span style="color:darkblue">{{createdAt}}</span>
                        <button id="messageDelbtn" createdAt="{{createdAt}}" >X</button>
                    {{/each}}
                </li>
                <label >[{{currentUsername}}]</label>
                <input id="messageInput" test="{{number}}" style="width:40%;" placeholder="댓글을 입력하시오!" />
            {{/each}}
            <div>
                -------------------------------------------------------------------------------------------------------------------------------------------------------------
            </div>
            <div>
                <label>[{{currentUsername}}]</label>
                <input type="text" id="titleinput" placeholder="제목 입력"/>
                <input type="text" id="postinput" placeholder="내용 입력"/>
                <button id="postbtn">글쓰기</button>
            </div>
        </ul>
    </div>
</template>