<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="contents">
  <div style="width:1024px; margin:auto;">
      {{#each postlist}}
          <input style="width:1024px;" value="{{title}}"/>
          <textarea style="width:1024px; height:512px;" contenteditable="false">{{contents}}</textarea>
          {{#each commentlist}}
              <li>
                  <span style="color:darkgreen">[{{userid}}]</span>
                  <span style="color:darkslategray">{{comment}}</span>
                  <span style="color:darkblue">{{commentedAt}}</span>
              </li>
          {{/each}}
          <div style="width:1024px;">
              <label style="width:10%" >[{{currentUsername}}]</label>
              <input id="messageInput" style="width:90%" placeholder="댓글을 입력하시오!" />
          </div>
      {{/each}}
  </div>
</template>