<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="contents">
  <div style="width:1024px; margin:auto;">
      {{#each postlist}}
          <textarea style="width:1024px;" disabled="false">{{title}}</textarea>
          <textarea style="width:1024px; height:512px;" disabled="false">{{contents}}</textarea>
          {{#each commentlist}}
              <div class="comments">
                  <li>
                      <h4>
                          <span style="color:darkgreen">[{{userid}}]</span>
                          <span style="color:darkblue">{{commentedAt}}</span>
                          <span style="color:darkslategray">{{comment}}</span>
                      </h4>
                  </li>
              </div>
          {{/each}}
          <div class="comment-form" style="width:1024px;">
              <input id="messageInput" style="width:1024px" placeholder="댓글을 입력하시오!" />
          </div>
      {{/each}}
  </div>
</template>