<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="contents">
  <div style="width:1024px; margin:auto;">
      {{#each postlist}}
          <textarea style="width:1024px;" disabled="false">{{title}}</textarea>
          <textarea style="width:1024px; height:512px;" disabled="false">{{contents}}</textarea>
          {{#each commentlist}}
              <div class="comments">
                  <li>
                      <h4>
                          <input type="text" style="color:darkgreen; width:100px; height: auto; text-align: center;" disabled value="{{userid}}"/>
                          <span style="color:darkgreen; width:100%; height: auto; overflow-wrap: hyphenate; word-break: break-all">{{comment}}</span>
                          <input type="text" style="color:darkgreen; width:380px; height: auto; text-align: center; margin-left:600px" disabled value="{{commectedAt}}"/>
                          <!--<input style="color:darkblue">{{commentedAt}}</span>
                          <input style="color:darkslategray">{{comment}}</span>-->
                      </h4>
                  </li>
              </div>
          {{/each}}
          <div class="comment-form" style="width:auto;">
              <input type="text" id="messageInput" style="width:100%; height: auto; margin:auto;" placeholder="댓글을 입력하시오!" />
          </div>
      {{/each}}
  </div>
</template>