<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="editcontents">
    <div style="width:1024px; margin: auto;">
        <textarea id="title" style="width:1024px;" placeholder="제목을 입력하세요."></textarea>
      <div>
          <textarea id="contents" style="width:1024px;height:512px" placeholder="내용을 입력하세요."></textarea>
      </div>
      <div style="margin-top: 10px;">
          <button class="btn" id="cancelbtn" style="float:right;">취소</button>
          <button class="btn" id="savebtn" style="float:right;  margin-right: 10px;">저장</button>
      </div>
    </div>
</template>