<!--
  author : Seokhwan kim <shk1447@n3n.co.kr>
-->
<template name="header">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"><!-- Collapsable nav bar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a id="home" class="brand">Bulletin Board</a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="/manageusers">Users</a>
                        </li>

                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="" data-toggle="dropdown">Sign Up <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                {{>join}}
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                {{>login}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>