<!--
  author : Seokhwan kim <shk1447@n3n.co.kr>
-->
<template name="header">
    <nav class="nav">
        <div style="height:40px;">
            <a style="float:left; margin-top:10px; margin-left: 20px;" href="/">Bulletin Board</a>
            <a style="float: right; margin-top:10px; margin-right: 20px;" href="/login">로그인</a>
            <a style="float: right; margin-top:10px; margin-right: 10px" href="/join">회원관리</a>
            <span style="float:right; margin-top:10px; margin-right: 40px;">{{loginedid}}</span>
        </div>
    </nav>
</template>