<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="join">
    <div style="float: right;">
        <div>
            <input type="text" id="id" placeholder="아이디를 입력하시오."/>
        </div>

        <div>
            <input id="pass" type="password" placeholder="비밀번호를 입력하시오."/>
        </div>

        <div>
            <input id="repass" type="password" placeholder="비밀번호를 다시 입력하시오."/>
        </div>

        <div>
            <input type="text" id="name" placeholder="이름을 입력하시오."/>
        </div>

        <div>
            <input type="text" id="age" placeholder="나이를 입력하시오."/>
        </div>

        <div>
            <input type="text" id="gender" placeholder="성별을 입력하시오."/>
        </div>

        <div style="float: right;">
            <input class="btn" type="button" id="joinbtn" value="SAVE"/>
            <input class="btn" type="button" id="cancelbtn" value="CANCEL"/>
        </div>

    </div>
</template>