<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="join">
    <div style="width:1024px;height:720px;margin:auto;">
        <div>
            <label>ID : </label>
            <input id="id"/>
        </div>
        <div>
            <label>PASS : </label>
            <input id="pass" type="password"/>
        </div>
        <div>
            <label>CONFIRM : </label>
            <input id="repass" type="password"/>
        </div>
        <div>
            <label>NAME : </label>
            <input id="name"/>
        </div>
        <div>
            <label>AGE : </label>
            <input id="age"/>
        </div>
        <div>
            <label>GENDER : </label>
            <input id="gender"/>
        </div>
        <div>
            <button id="joinbtn">JOIN</button>
            <button id="cancelbtn">CANCEL</button>
        </div>
    </div>
</template>