<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="join">
    <div style="width:1024px;height:720px;margin:auto;">
        <div>
            <label>ID : </label>
            <input/>
        </div>
        <div>
            <label>PASS : </label>
            <input type="password"/>
        </div>
        <div>
            <label>CONFIRM : </label>
            <input type="password"/>
        </div>
        <div>
            <label>NAME : </label>
            <input/>
        </div>
        <div>
            <label>AGE : </label>
            <input/>
        </div>
        <div>
            <label>GENDER : </label>
            <input/>
        </div>
        <div>
            <button>JOIN</button>
            <button>CANCEL</button>
        </div>
    </div>
</template>