<!--
  author : Seokhwan kim <shk1447@n3n.co.kr>
-->
<template name="login">
        <div style="float:right">
            <div>
                <input style="float: right;" type="text" id="username" placeholder="아이디"/>
            </div>

            <div style="clear:both">
                <input type="password" id="password" placeholder="비밀번호"/>
            </div>
            <input style="float:right" class="btn btn-success" type="button" value="SIGN IN" id="enter"/>
        </div>
</template>