<!--
  author : Seokhwan kim <shk1447@n3n.co.kr>
-->
<template name="login">
    {{#if curuser}}
        <form style="float:right; margin-right: 20px;">
            <div>
                <input style="float: right; height: auto;" type="text" id="loginid" value="{{curuser}}" disabled="false"/>
            </div>

            <input style="float:right" class="btn btn-warning" type="button" value="LOGOUT" id="leave"/>
        </form>
    {{else}}
        <form style="float:right; margin-right: 20px;">
            <div>
                <input style="float: right; height: auto;" type="text" id="username" placeholder="아이디"/>
            </div>

            <div style="clear:both">
                <input style="height: auto;" type="password" id="password" placeholder="비밀번호"/>
            </div>
            <input style="float:right" class="btn btn-success" type="button" value="SIGN IN" id="enter"/>
        </form>
    {{/if}}
</template>