<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="posts">
    <div style="width:1024px;height:720px;margin:auto;">
        <ul>
            {{#each postlist}}
                <div class="post">
                    <span>제목 : </span>
                    <!--click event시 postpage/postid로 route해줘야함-->
                    <a class="title" href="/postpage/{{_id}}">{{title}}</a>
                    <span> | </span>
                    <span>글쓴이 : {{userid}}</span>
                    <span> | </span>
                    <span>생성시간 : {{createdAt}}</span>
                </div>
            {{/each}}
        </ul>
        <div style="width:100px; margin:auto;">
            {{#each pagelist}}
                <a class="paging" href="/posts/{{number}}" style="text-decoration: underline">{{number}}</a>
            {{/each}}
        </div>
        <input id="writebtn" class="btn btn-info" type="button" value="글쓰기" style="float:right;"/>
    </div>
</template>