<!--
  author : shkim <shk1447@n3n.co.kr>
-->
<template name="users">
    <ul>
      {{#each userlist}}
          <div style="width:1024px; margin:auto;">
              <span>아이디 : {{userid}}</span>
              <a> | </a>
              <span>이름 : {{profile.name}}</span>
              <a> | </a>
              <span>나이 : {{profile.age}}</span>
              <a> | </a>
              <span>성별 : {{profile.gender}}</span>
              <a> | </a>
              <button class="removebtn" value="{{userid}}">강제탈퇴</button>
          </div>
      {{/each}}
    </ul>
</template>